


.heading {
  font-size: 25px;
  text-align: left;
  justify-content: left;
  
}

@media screen and (width<=768px) {
  .heading {
    font-size: 10px;
    text-align: left;
    justify-content: left;
  }
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}



.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

