
// write your Home Component css code index.css

   /* Write your CSS here */

 .search-container{
   margin-top: 10px;
   margin: auto;
 }

.AdminUi-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  margin: 50px;
  margin-top: 10px;
}
.input-search {
  width: 600px;
  height: 30px;
  background-color:lightgray;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-heading-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
 
  align-items: flex-start;
 justify-content: center;
  text-align: center;
}

.head-names{
  font-size: 30px;
  margin-right: 120px;
  text-align: left;
  justify-content: left;
}


.loading-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 100px;
  font-size: 16px;
  color: blue;

}
.checkbox {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.inner-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  justify-content: center;

}

@media screen and (width<=768px) {
  .inner-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color:lightskyblue;
    margin: 5px;
    padding: 5px;
    justify-content: center;
  
  }
  .head-names{
    font-size: 10px;
    margin-right: 30px;
    text-align: left;
    justify-content: left;
  }

  .input-search {
    width: 300px;
    height: 30px;
    background-color:lightgray;
  }
  
}

.pagination-container{
  background-color: lightskyblue;
}
                                   

